p {
  font-size: 13px;
  color: white;
}
h1 {
  font-size: 30px;
  color: white;
  background-image: linear-gradient(90deg, #4d78ef, #709df7, #7ed4fd);
  font-weight: bdold;
  text-align: center;
  display: inline-block;
  align-items: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.introduction-box {
  display: flex;
  flex-direction: row;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}
.introduction-text {
  padding: 12px;
  display: inline-block;
}

.developer-img {
  width: 400px;
  height: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #C29F60;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c8aa77'/%3E%3Cstop offset='1' stop-color='%23c8aa77' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dcae6e'/%3E%3Cstop offset='1' stop-color='%23dcae6e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23e2b883'/%3E%3Cstop offset='1' stop-color='%23e2b883' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C29F60'/%3E%3Cstop offset='1' stop-color='%23C29F60' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23CEB48B'/%3E%3Cstop offset='1' stop-color='%23CEB48B' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23F4BB7A'/%3E%3Cstop offset='1' stop-color='%23F4BB7A' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}