body {
  font-family: 'Roboto', sans-serif;
  background-color: #104C30;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2313532b'/%3E%3Cstop offset='1' stop-color='%2313532b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231b7e6a'/%3E%3Cstop offset='1' stop-color='%231b7e6a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23238666'/%3E%3Cstop offset='1' stop-color='%23238666' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23104C30'/%3E%3Cstop offset='1' stop-color='%23104C30' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23155A26'/%3E%3Cstop offset='1' stop-color='%23155A26' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231FB5AA'/%3E%3Cstop offset='1' stop-color='%231FB5AA' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 3000px;
}
p {
  font-size: 13px;
  color: white;
}
h1 {
  font-size: 80px;
  color: #8FDCC2;
  justify-content: center;
  text-align: center;
}

.introduction-box {
  display: flex;
  flex-direction: row;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}
.introduction-text {
  padding: 12px;
  font-size: 100px;
  display: inline-block;
  font-family: 'Special Elite', cursive;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: 5px solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}
.typing-text {
    width: 0;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
    display: inline-block;
  }
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #209961; }
}

header {
  padding-left: 40px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
  border: #104C30 transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  position: fixed;
  z-index: 1; 
}

.header.scrolled {
  /* Add new border style and color */
  background-color: #80ddbea8;
  border-radius: 25px;
  padding-bottom: 18px;
  transition: background-color 0.5s ease-in-out;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 10px solid transparent; 
}

a:hover {
  background-color: white;
  color: #104C30;
  transition: background-color 0.3s ease, color 0.3s ease;
  
  border-radius: 25px;
  
  padding: 9px;
  cursor: pointer;
  border: 1px solid transparent; 
}
.me-box {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: -10px;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  top: 170px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.me-img {
  position: relative;
  border-radius: 50%;
  width: 400px; 
  height: 400px; 
  object-fit: cover; 
  vertical-align: middle;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
}
img {
  --m:
    radial-gradient(circle farthest-side at right,#000 99%,#0000) 
      0 100%/46% 92% no-repeat,
    radial-gradient(circle farthest-side at left ,#000 99%,#0000) 
      100% 0/46% 92% no-repeat;
  -webkit-mask: var(--m);
          mask: var(--m);
  filter: grayscale(.5);
  transition: .3s linear;
  cursor: pointer;
}
img:hover {
  -webkit-mask-position: 7.5% 50%,92.5% 50%;
          mask-position: 7.5% 50%,92.5% 50%;
  filter: grayscale(0);
}

.me-box:hover + .study-box {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.study-box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  /*background-color: #000;*/
}

.study-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.study-text {
  font-size: 25px;
  color: #a9dbca;
  margin-top: 0;
  margin-bottom: 3px;
}

.custom-shape-divider-bottom-1679941662 {
  position: absolute;
  bottom: -1600px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679941662 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 248px;
}

.custom-shape-divider-bottom-1679941662 .shape-fill {
  fill: #209961;
}

.youtube-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 70px;
}
.icon {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.first-project-box {
  width: 800px;
  background-color: #D1D1D1;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.first-project-text {
  color: #104C30 ;
  opacity: 1;
  font-size: 20px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.5;
}



