body {
  font-family: 'Roboto', sans-serif;
  background-color: #104C30;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2313532b'/%3E%3Cstop offset='1' stop-color='%2313532b' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231b7e6a'/%3E%3Cstop offset='1' stop-color='%231b7e6a' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23238666'/%3E%3Cstop offset='1' stop-color='%23238666' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23104C30'/%3E%3Cstop offset='1' stop-color='%23104C30' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23155A26'/%3E%3Cstop offset='1' stop-color='%23155A26' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231FB5AA'/%3E%3Cstop offset='1' stop-color='%231FB5AA' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 2000px;
}
p {
  font-size: 13px;
  color: white;
}
h1 {
  font-size: 80px;
  color: white;
  justify-content: center;
  text-align: center;
}

.introduction-box {
  display: flex;
  flex-direction: row;
  align-items: center; /* center vertically */
  justify-content: center; /* center horizontally */
}
.introduction-text {
  padding: 12px;
  font-size: 100px;
  display: inline-block;
  font-family: 'Special Elite', cursive;
}

header {
  padding-left: 40px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
  border: #104C30 transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  position: fixed;
  z-index: 1; 
}

.header.scrolled {
  /* Add new border style and color */
  background-color: rgba(40, 167, 153, 1.0);
  border-radius: 25px;
  padding-bottom: 18px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

li {
  display: inline-block;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 10px solid transparent; 
}

a:hover {
  background-color: white;
  color: #104C30;
  transition: background-color 0.3s ease, color 0.3s ease;
  
  border-radius: 25px;
  
  padding: 9px;
  cursor: pointer;
  border: 1px solid transparent; 
}
.me-box {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: -10px;
}

.me-img {
  border: 2px solid white;
  border-radius: 50%;
  width: 400px; 
  height: 400px; 
  object-fit: cover; 
  vertical-align: middle;
}

.custom-shape-divider-bottom-1679941662 {
  position: absolute;
  bottom: -1100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679941662 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 248px;
}

.custom-shape-divider-bottom-1679941662 .shape-fill {
  fill: #209961;
}



